.labelInput {
    font-size: medium;
}

form {
    margin-right: 50px;
    align-items: center;
    align-content: center;
}

.inputfile {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction:row;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 8px;
}